body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chat-div {
    max-width: 50vw;    
    min-width: 50vw;    
}


#chat {
    max-height: 30rem;
    min-height: 30rem;

    max-width: 100%;
    min-width: 100%;

    overflow-y: scroll;    

    border: 1px solid gray; 
    background-color: white;
    scroll-behavior: smooth;
}

#message-form {
    max-width: 100%;
    min-width: 100%;
}



#App {
    margin-top: 1rem;
    display: flex;
    min-width: 100vw;
    justify-content: center;
}

.hidden {
    display: none;
}

.btn-nav {
    padding: 0.3rem 0.5rem;
   
} 

.btn-nav:active {
    text-decoration: underline;
}

.btn-main {
    background-color: rgb(4, 91, 157);
    color: rgb(245, 237, 237);
    padding:  .5rem .8rem;
    border-style: none;
    border-radius: 10%;
}

.btn-main:active {
    background-color: rgb(7, 123, 211);
}

.fade {
    animation: fadeout .8s;
    animation-iteration-count: infinite;
}

.form {
    padding: 0.8rem;
    border: 1px solid gray; 
    border-radius: 0.4;
    min-width: 50vw;
    max-width: 50vw;
    overflow-wrap: normal;
}

.form-error {
    justify-self: center;
    text-align: center;
}

.form-label {
    margin-bottom: 1rem;
}

.form-input {
    margin-bottom: 0.5rem;
}

.nav {
    margin: 0;
    padding: .5rem;
    display: flex;
    align-items: baseline;
    list-style: none;
    justify-content: space-between;
    background-color: bisque;
    min-height: 5vh;
}
.message{
    padding: 0.2rem;
    margin: 1rem 0.2rem;
    border: 1px solid gray; 
    border-radius: 0.4;
    color: rgb(30, 31, 31);
    background-color: rgb(20, 242, 27);
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media(max-width: 500) {
    #chat-div {
        max-width: 90vw;
        min-width: 90vw;
    }

    .form {
        max-width: 70vw;
        min-width: 70vw;
    }
}